*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts*/
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "DM Sans", sans-serif;

  --primary-color: #000000;
  --secondary-color: #5a5858;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f5f5;

  --primary-border-color: #a09d9d;
  --secondary-border-color: #e0e0e0;
  --primary-box-shadow-color: 2px 2px 30px 0px #00000033;
  --secondary-box-shadow-color: 2px 2px 2px 0px #00000033;

  --hover-color: #54c4f8;
}

/* Common Classes */

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
}

/* Baker */

/* Result BOX */
#quiz-result {
  flex-direction: column;
  justify-content:center;
  justify-items: center;
  align-items: center;
  width: 550px;
  margin: auto;
  margin-top: 100px;
  gap: 10px;
  border-radius: 10px;
  border:#000000 2px solid;
}

#quiz-result h1 {  
    font-size: 60px;
    color: orange;
}
  
#quiz-result p {
    font-size: 90px;
    margin-bottom: 15px;
}

.resultBtns {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 20px;
  font-weight:600;
  margin-bottom: 20px;
  color: orange;
}

#quiz-result button{
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 2px solid #04AA6D;
}

#quiz-result button:hover {
  background-color: rgb(0, 235, 156);
  color: white;
}


/* Henrik */

/* Header */

.nav-bar {
  width: 100vw;
  max-width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--primary-border-color);
  z-index: 1;
}

.heading {
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
}

.welcome-msg {
  width: fit-content;
  margin: 2rem auto 0 auto;
  font-size: 1.5rem;
}

/* Select list */

.quiz-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80rem;
  max-width: 90vw;
  min-width: 280px;
  height: auto;
  max-height: 80svh;
}

.quiz-list {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  border: 2px solid var(--primary-border-color);
}

.quiz-list-item {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  cursor: default;
  text-align: center;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.quiz-list-item:nth-of-type(odd) {
  background-color: var(--secondary-background-color);
}

.quiz-list-item:hover {
  background-color: var(--hover-color);
}

/* Footer */

.footer {
  width: 100vw;
  height: 5rem;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 0.5rem 0;
}

/* Kaj */

.quiz-form {
  width: 800px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.quiz-title {
  text-align: center;
  margin-top: 100px;
  font-size: 24px;
}

.quiz-title-theme {
  color: #54c4f8;
}

.btnContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}
.btn {
  cursor: pointer;
  z-index: 999;
}
.answareBtn {
  cursor: pointer;
  z-index: 999;
  display: none;
}
.questionContainer {
  position: absolute;
  width: auto;
  height: 500px;
  top: 0px;
  left: 0px;
  display: flex;
  transition: left 1s;
}

.error {
  color: #000000;
  display: none;
}

.errorShow {
  display: block;
}

.quizFieldset {
  border: none;
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.quizFieldset p {
  padding: 10px 0;
}

/* Viktor */

.popup-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup {
  width: 25rem;
  height: 15rem;
  border: solid 2px var(--primary-border-color);
  border-radius: 3px;
  background-color: var(--primary-background-color);
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.input-name {
  padding: 0.1rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.popup-btn {
  padding: 0rem 0.2rem 0rem 0.2rem;
  font: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 500;
}


@media (min-width: 768px) {
  html {
    font-size: calc(1.25 * 62.5%);
  }

  /* Baker */

  /* Henrik */

  .hamburger-menu {
    visibility: hidden;
  }

  .nav-menu {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    list-style: none;
  }

  .nav-menu li {
    flex: 1;
    display: inline-block;
  }

  /* Kaj */

  /* Viktor */
}

@media (min-width: 1024px) {
  html {
    font-size: calc(1.5 * 62.5%);
  }

  /* Baker */

  /* Henrik */

  .nav-menu li {
    flex: 1;
    display: inline-block;
  }

  .quiz-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 60rem;
    height: 20rem;
    border: 2px solid var(--hover-color);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .quiz-slider::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .quiz-slider {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .quiz-slider-item {
    font-size: 1rem;
    font-weight: 700;
    text-wrap: nowrap;
    text-align: center;
    width: 60%;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    scrollbar-width: 200px;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    flex-shrink: 0;
    z-index: 0;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

    .quiz-slider-item:first-of-type {
      font-size: 8rem;
      color: var(--hover-color);
      cursor: pointer;
      margin-left: 25%;
    }

    .quiz-slider-item:last-child {
      margin-inline-end: 47%;
    }
  }

  /* Kaj */

  /* Viktor */
    .slider-pagination-container {
      display: flex;
      gap: 0.8rem;
      margin-top: 25rem;
      margin-left: 45%;
    }

    .pagination-dot {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      border: solid 1px black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-background-color);
    }

    .pagination-dot:hover {
      background-color: rgb(200, 200, 200);
      cursor: pointer;
    }

    .active-dot {
      background-color: var(--hover-color);
    }

    .dot-img {
      width: 1.5rem;
    }

@media (min-width: 1200px) {
  /* Baker */

  /* Henrik */

  /* Kaj */

  /* Viktor */
}

.collapsed {
  display: none;
}